* {
  background-color: #282c34;
}

h1,
h4,
p {
  color: ivory;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img,
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 25%;
  //margin-top: -3rem;
  border-radius: 20%;
}

audio {
  width: 18%;
}

.leftArrow {
  color: ivory;
  position: relative;
  top: 20vh;
  left: 30vw;
  font-size: 3rem;
  cursor: pointer;
  cursor: hand;
}

.rightArrow {
  color: ivory;
  position: relative;
  top: 20vh;
  left: 62.8vw;
  font-size: 3rem;
  cursor: pointer;
  cursor: hand;
}

@media (max-width: 600px) {
  .leftArrow {
    font-size: 1rem;
    top: 6vh;
    left: 25vw;
  }
  .rightArrow {
    font-size: 1rem;
    top: 6vh;
    left: 69vw;
  }
}
