* {
  background-color: #282c34;
}

h1,
h4 {
  color: ivory;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgArrowWrapper {
  display: flex;
  align-items: center;
}

.leftArrow,
.rightArrow {
  flex: 1;
  cursor: pointer;
  color: ivory;
  margin: 5px;
}

img,
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  max-width: 350px;
  border-radius: 20%;
}

audio {
  width: 100%;
  max-width: 250px;
}

@media (max-width: 600px) {
  img {
    width: 50%;
    max-width: none;
  }

  audio {
    width: 50%;
    max-width: none;
  }
}
